#page2{
	/*display: none;*/
}
header{
			
			background-color:#333;
			padding: 5px;
			padding-left: 20px;
		}
header h1{
	color: white;	
}


body{
	background-color:lightgrey;
}

#ajouter button{
	width: 100px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}		


#ajouter2{
	
	display: none;
	padding: 30px;
	background-color: aquamarine;
	margin-top: 50px;
	
	
}
#reduit{
	height: 350px;
	width: 400px;
	display: none;
}

#wrapper{
	
	
	margin: 0px auto;
	background-color: white;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 20px;
	padding-top: 20px;
}

#porfolio{
	list-style-type: none;
	padding-left: 0px;
}
#portfolio li{
	display: inline-block;
	margin: 10px 1px 10px 1px;
}
#portfolio li img{
	width: 240px;
	height: 170px;
}

#portfolio li img:hover{
	cursor: pointer;
}

#portfolio li p{
	background-color: aliceblue;
	font-size: 24px;
	margin-right: 40px;
}


#depose{
	background-color: beige;
	height: 100%;
	width: 100%;
	margin-top: 18px;
	display: none;
	
	
	
}

#ec{
	width: 170px;
	background-color: black;
	padding: 35px;
	color: white;
	margin-top: 0px;
	margin-left: 0px;
	
	display: none;
}

#sortir{
	width: 40px;
	height: 40px;
	background-color: white;
	margin-bottom: 50px;
	margin-left: -33px;
	margin-top: -30px;
	color: white;
	cursor: pointer;
	opacity: 0.5;
	
}
#ec1{
	width: 100px;
	height: 100px;
	background-color: white;
	margin-bottom: 60px;
	
	color: white;
	
}
#ec2{
	width: 100px;
	height: 100px;
	background-color: red;
	margin-bottom: 60px;
	
	color: white;

}
#ec3{
	width: 100px;
	height: 100px;
	background-color: darkblue;
	margin-bottom: 60px;
	
	color: white;

}
#ec4{
	width: 100px;
	height: 100px;
	background-color: darkgray;
	margin-bottom: 102px;
	
	color: white;
	
}


#fc{
	width: 170px;
	background-color: black;
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 30px;
	color: white;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	
	margin-left: 0%;
	display: none;
}
#fc1{
	width: 100px;
	height: 100px;
	background-color: white;
	margin-bottom: 60px;
	margin-left: 20px;
	color: white;
	
}
#fc2{
	width: 100px;
	height: 100px;
	background-color: red;
	margin-bottom: 60px;
	margin-left: 20px;
	color: white;
}
#fc3{
	width: 100px;
	height: 100px;
	background-color: darkblue;
	margin-bottom: 60px;
	margin-left: 20px;
	color: white;
}
#fc4{
	width: 100px;
	height: 100px;
	background-color: darkgray;
	margin-left: 20px;
	color: white;
}

#wrapper2{
	min-height: 0px;
	margin: -15px;
}
#porfolio2{
	list-style-type: none;
	padding-left: 0px;
}
#portfolioli{
	display: inline-block;
	margin: 0px 0px 0px 0px;
}