#id_ecran{
	display: none;
}

.fermer{
	background-color: red;
	height: 34px;
	width: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	position: relative;
	margin-left: 211px;
	cursor: pointer;
}

.fermer h3{
	margin-left: 6px;
	color: white;
	margin-top: -572%;
}

.fermer1{
	background-color: red;
	height: 34px;
	width: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	position: relative;
	margin-left: 80px;
	cursor: pointer;
	display: none;
}

.fermer1 h3{
	margin-left: 6px;
	color: white;
	margin-top: -370%;
}

.feu{
	background-color: darkslategrey;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

header{
			
			background-color:#333;
			padding: 5px;
			padding-left: 20px;
		}

header h1{
	color: white;	
}

body{
	background-color:lightgrey;
}

#ajouter button{
	width: 100px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}		

#ajouter2{
	
	display: none;
	padding: 10px;
	padding-left: 111px;
	background-color: aquamarine;
	margin-top: 75px;
}

#reduit{
	margin-left: 585px;
	height: 350px;
	width: 400px;
	display: none;
}

#wrapper{
	margin: 0px auto;
	background-color: white;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 20px;
	padding-top: 20px;
}

#porfolio{
	list-style-type: none;
	padding-left: 0px;
}


#portfolio li{
	display: inline-block;
	margin: 9% 13px 36px 1px;
}

#portfolio li img{
	width: 240px;
	height: 170px;
	padding: 5px;
	margin-top: -40%;
}

#portfolio li img:hover{
	cursor: pointer;
}

#portfolio li p{
	text-align: center;
	background-color: aliceblue;
	font-size: 24px;
	margin-right: 40px;
	margin-left: 40px;
	padding: 5px;
}

#ec{
	margin-left: 15px;
	height: 742px;
}

#sortir{
	background-color: white;
	cursor: pointer;
	opacity: 0.5;
	width: 40px;
	height: 40px;
	margin-left: -17px;
	margin-top: -67px;
	margin-bottom: 30px;
}
.ecc{
	margin-bottom: 60px;
}
#ec1{
	width: 100px;
	height: 100px;
	background-color: white;
	color: white;
	cursor: grab;
}

#ec2{
	width: 100px;
	height: 100px;
	background-color: red;
	color: white;
	cursor: grab;

}

#ec3{
	width: 100px;
	height: 100px;
	background-color: darkblue;
	color: white;
	cursor: grab;

}

#ec4{
	width: 100px;
	height: 100px;
	background-color: darkgray;
	color: white;
	cursor: grab;
	
}

#fc{
	width: 170px;
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 30px;
	color: white;
	margin-left: 0%;
	
	
	
}

#fc1{
	width: 100px;
	height: 100px;
	background-color: white;
	margin-bottom: 60px;
	margin-left: 20px;
	color: white;
	
	
}

#fc2{
	width: 100px;
	height: 100px;
	background-color: red;
	margin-bottom: 60px;
	margin-left: 20px;
	color: white;
}

#fc3{
	width: 100px;
	height: 100px;
	background-color: darkblue;
	margin-bottom: 60px;
	margin-left: 20px;
	color: white;
}

#fc4{
	width: 100px;
	height: 100px;
	background-color: darkgray;
	margin-left: 20px;
	color: white;
}

#ligne{
	background-color:darkslategray;
	margin-right: 0px;
}

#droite{
	background-color: green;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	display: none;
	
}

#gauche{
	background-color:cadetblue;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	
}

#wrapper3{
	display: none;
}

#corp{
	
	background-color: beige;
}
#depose{
	background-color: aliceblue;
	padding-bottom: 150px;
	padding-top: 40px;
	
}
#dep img{
	margin-left: 258px;
	margin-top: -25px;
}
#dep{
	text-align: center;
}
